@mixin grid-rows($name,$size:'') {
    @for $i from 1 through 12 {
        .#{$name}#{$size}-#{$i} {
            grid-template-rows: repeat($i, minmax(0, 1fr));
        }
    }
    .#{$name}#{$size}-none {
        grid-template-rows: none;
    }
}


@mixin grid-rows-span($name,$size:'') {
    @for $i from 1 through 12 {
        .#{$name}#{$size}-#{$i} {
            grid-row: repeat($i, minmax(0, 1fr));
        }
    }
    .#{$name}#{$size}-auto {
        grid-row: auto;
    }
    .#{$name}#{$size}-full {
        grid-row: 1 / -1;
    }

}

@mixin grid-rows-start($name,$size:'') {
    @for $i from 1 through 12 {
        .#{$name}#{$size}-#{$i} {
            grid-row-start: $i;
        }
    }
    .#{$name}#{$size}-auto {
        grid-row-start: auto;
    }
}

@mixin grid-rows-end($name,$size:'') {
    @for $i from 1 through 12 {
        .#{$name}#{$size}-#{$i} {
            grid-row-end: $i;
        }
    }
    .#{$name}#{$size}-auto {
        grid-row-end: auto;
    }
}
